.talent {
    padding: 0;
    background-color: #FFF;
    margin: 0 5%;
}

.talent h2 {
    font-size: clamp(3.5rem, 5vw, 5rem);
    color: #FFF;
    margin: 10px;
}

.talent h2 .text-orange {
    color: #E96143;
}

.talent-perks-container {
    display: flex;
    flex: 1;
    background-color: #0052D4;
    border-radius: 2rem;
    overflow: hidden;
}

.talent-perks-container img {
    height: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
}

.talent-perks {
    padding: 2rem;
    width: 100%;
    max-width: 700px;
    align-items: center;
    box-sizing: border-box;
}

.talent-perks .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.talent-perks .grid .grid-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.talent-perks .grid .grid-item p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #FFF;
}

@media (max-width: 768px) {
    .talent h2 {
        font-size: clamp(2rem, 2.75vw, 5rem);
    }
    .talent-perks-container {
        flex-direction: column;
    }

    .talent-perks-container img {
        width: 100%;
        aspect-ratio: 5/4;
        object-fit: cover;
    }

    .talent p {
        font-size: clamp(1rem, 1.75vw, 1.25rem);
    }

    .talent ul li {
        font-size: clamp(0.9rem, 1.25vw, 1.25rem);
    }
}