.company {
    padding: 60px 0;
    background-color: #f89988;
}

.company h2 {
    font-size: 5rem;
    color: #333;
    margin-bottom: 20px;
}

.company h2 .text-primary {
    color: #0052D4;
}

.company ul {
    padding-left: 20px;
    margin-bottom: 0;
}

.company ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #555;
}
