.joinus {
    width: 100%;
    background-color: #0B63E5;
    border-radius: 1rem;
    padding: 0 1.75rem;
    box-sizing: border-box;
    overflow: hidden;
}

.joinus-content {
    display: flex;
}

.get-our-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    padding: 0 2rem;
}

.get-our-app h1 {
    font-size: clamp(3rem, 4vw, 4.5rem);
    color: var(--Black, #FFF);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.08px;
    margin: 0;
}

.get-our-app .links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.get-our-app .links img {
    /* height: 2rem; */
}

.get-our-app .one-link {
    height: 8rem;
    width: 8rem;
}

.get-our-app .links .store-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.get-our-app .links .store-links a {
    width: 213.423px;
height: 65.59px;
flex-shrink: 0;
}

.get-our-app .links .store-links a img {
    height: 2rem;
    width: 4rem;
}

.play-store {
    background: url('/images/icons/Play Store.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
}

.app-store {
    background: url('/images/icons/App Store.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
}

.our-app {
    width: clamp(20rem, 40vw, 30rem);
}

@media screen and (max-width: 768px) {
    .joinus {
        padding: 2rem 1rem 0 1rem;
    }
    .joinus-content {
        flex-direction: column;
        align-items: center;
    }
    .get-our-app {
        padding: 0 2rem;
    }
    .get-our-app h1 {
        font-size: clamp(2rem, 4vw, 3.5rem);
    }
    
}

@media screen and (max-width: 480px) {
    .joinus {
        padding: 2rem 1rem 0 1rem;
    }
    .joinus-content {
        flex-direction: column;
        align-items: center;
    }
    .get-our-app {
        padding: 0 2rem;
    }
    .get-our-app h1 {
        font-size: clamp(2rem, 4vw, 3.5rem);
    }
    .get-our-app .links {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .get-our-app .links .store-links {
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
}