</main>
	
<footer class="site-footer">
  <nav class="site-nav">
    <a class="logo" href="/">
      <img src="/images/logo/Fernglasz.svg" alt="Fernglasz">
    </a>
  </nav>
  <div class="divider"></div>
  <div class="social-content">
    <p>&copy;{{ dateFormat "2006" now }} Copyright, {{ .Site.Title }}. All rights reserved.</p>
    <div class="social-links">
      <a href="https://www.facebook.com/profile.php?id=61554843952339&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
        <img src="/images/icons/Facebook.svg" alt="Facebook">
      </a>
      <a href="https://twitter.com/fernglasz" target="_blank" rel="noopener noreferrer">
        <img src="/images/icons/Twitter.svg" alt="Twitter">
      </a>
      <a href="https://www.linkedin.com/company/fernglasz/" target="_blank" rel="noopener noreferrer">
        <img src="/images/icons/LinkedIn.svg" alt="LinkedIn">
      </a>
      <a href="https://www.instagram.com/fernglasz?igsh=YmFuZ2k4dGFyd2pq" target="_blank" rel="noopener noreferrer">
        <img src="/images/icons/Instagram.svg" alt="Instagram">
      </a>
      <a href="https://www.reddit.com/r/FernGlasz/" target="_blank" rel="noopener noreferrer">
        <img src="/images/icons/Reddit.svg" alt="Reddit">
      </a>
    </div>
  </div>
</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>
