<header class="site-header">
  <nav class="site-nav">
    <button class="logo" onclick="window.location.href='/'">
      <img src="/images/logo/Fernglasz.svg" alt="Fernglasz">
      <p>Gateway to Early Talent</p>
    </button>
    <div class="menu-container">
      <input type="checkbox" id="menu-toggle" class="menu-toggle">
      <label for="menu-toggle" class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <ul class="main-menu">
        {{ range.Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" class="hide-underline">
            <button class="cta-button">{{ .Name }}</button>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>
</header>