{{ partial "header.html" . }}

<!-- <h1>{{ .Params.title }}</h1>

<p>{{ .Params.blurb }}</p>

<h2>{{ .Params.section.heading }}</h2>

<p>{{ .Params.section.text }}</p> -->

<link rel="stylesheet" href="/css/homepage/hero.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/homepage/keystats.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/homepage/community.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/homepage/company.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="/css/homepage/talent.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/homepage/campus.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/homepage/joinus.css" type="text/css" media="all" />

{{ partial "homepage/hero.html" . }}

{{ partial "homepage/keystats.html" . }}

{{ partial "homepage/community.html" . }}

{{ partial "homepage/company.html" . }}

<!-- {{ partial "homepage/clients.html" . }} -->

{{partial "homepage/talent.html" .}}

{{partial "homepage/campus.html" .}}

<!-- {{partial "homepage/users.html" .}} -->

{{partial "homepage/joinus.html" .}}

{{ partial "footer.html" . }}