<section class="campus">
    <div class="container campus-perks-container">
        <div class="campus-perks">
            <div class="grid">
                <div class="grid-item item1">
                    <h2>If you are <br /> an <span class="text-light-blue">Campus</span></h2>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/Campus1.svg" style="height: 35px; width: 37px;" alt="icon" />
                    <p>Strengthen connections with industry partners.</p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/Campus2.svg" style="height: 34px; width: 52px;" alt="icon" />
                    <p>Dedicated Platform for nurturing early talent.</p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/Campus3.svg" style="height: 42px; width: 28px;" alt="icon" />
                    <p>Real-world projects for enhanced job readiness</p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/Campus4.svg" style="height: 35px; width: 32px;" alt="icon" />
                    <p>Wider Reach to Companies for placements</p>
                </div>
            </div>
        </div>
    </div>
</section>