<link rel="stylesheet" href="/css/homepage/clients.css" type="text/css" media="all" />
<section class="clients">
    <div class="clients-content">
        <div class="logos">
            <div class="logos-slide">
                <img src="/images/clients/client-2.jpg" />
                <img src="/images/clients/flix.jpg" />
                <img src="/images/clients/nat-habit.jpg" />
                <img src="/images/clients/park-plus.jpg" />
                <img src="/images/clients/quickads.jpg" />
                <img src="/images/clients/tata-1mg.jpg" />
            </div>
        </div>
        <script>
            var copy = document.querySelector(".logos-slide").cloneNode(true);
            document.querySelector(".logos").appendChild(copy);
          </script>
    </div>

</section>