<section class="company">
  <div class="container company-perks-container">
    <div class="company-perks">
      <h2>If you are <br /> a <span class="text-yellow">Company</span></h2>
      <ul class="list-unstyled">
        <div class="list">
          <img src="/images/icons/Company1.svg" alt="icon" /> 
          Freelance projects to students with AI-validated skills
        </div>
        <div class="list">
          <img src="/images/icons/Company2.svg" alt="icon" />
          Minimize mis-hires by checking employer feedback
        </div>
        <div class="list">
          <img src="/images/icons/Company3.svg" alt="icon" />
          Hire interns & full-time remotely/no campus visits needed
        </div>
        <div class="list">
          <img src="/images/icons/Company4.svg" alt="icon" />
          Set criteria to filter applicants for your openings
        </div>
      </ul>
    </div>
    <img src="/images/company.jpg" class="company-image" alt="Company Image" />
  </div>
</section>