<link rel="stylesheet" href="/css/homepage/company.css" type="text/css" media="all" />
<section class="company">
  <div class="container company-perks-container">
    <div class="company-perks">
      <h2>If you are <br/> a <span class="text-yellow">Company</span></h2>
      <ul class="list-unstyled">
        <li>
          <!-- <img src="/images/Vector-3.svg" alt="icon" />  -->
          Freelance projects to students with AI-validated skills
        </li>
        <li>
          <!-- <img src="/images/icon.svg" alt="icon" />  -->
          Minimize mis-hires by checking employer feedback
        </li>
        <li>
          <!-- <img src="/images/Vector-2.svg" alt="icon" />  -->
          Hire interns & full-time remotely/no campus visits needed
        </li>
        <li>
          <!-- <img src="/images/Vector-1.svg" alt="icon" />  -->
          Set criteria to filter applicants for your openings
        </li>
      </ul>
    </div>
    <div>
      <img src="/images/company.jpg" class="company-image" alt="Company Image" />
    </div>
  </div>
</section>