<section class="joinus">
    <div class="joinus-content">
        <div class="get-our-app">
            <h1>Get our app</h1>
            <div class="links">
                <img src="/images/icons/onelink.svg" alt="Google Play" class="one-link">
                <div class="store-links">
                    <a href="https://play.google.com/store/apps/details?id=com.fernglasz&hl=en-IN" target="_blank" rel="noopener noreferrer" class="play-store">
                    </a>
                    <a href="https://apps.apple.com/in/app/fernglasz/id6467182638" target="_blank" rel="noopener noreferrer" class="app-store">
                    </a>
                </div>
            </div>
        </div>
        <img src="https://fern-staging-media-static-assets.s3.ap-south-1.amazonaws.com/static_assets/website_content/Iphone+and+hand+1-2-2.png" loading = "lazy" alt="Our App" class="our-app">
    </div>

</section>