<section class="keystats">
    <div class="keystats-content">
                    <div class="card">
                        <div class="card-body">
                            <h2>6000+</h2>
                            <p>Students</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2>100+</h2>
                            <p>Companies</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2>10X</h2>
                            <p>Improved Candidates Quality</p>
                        </div>
                    </div>

    </div>

</section>