<link rel="stylesheet" href="/css/homepage/talent.css" type="text/css" media="all" />
<section class="talent">
    <div class="container talent-perks-container">
        <div>
            <img src="/images/early-talent.jpg" class="early-talent-image" alt="Early Talent Image" />
        </div>
        <div class="talent-perks">
            <h2>If you are <br /> an <span class="text-orange">Early Talent</span></h2>
            <div class="grid">
                <div class="grid-item">
                    <img src="/images/Vector-3.svg" style="height: 30px; width: 30px;" alt="icon" />
                    <p>We are a community of young professionals, skilled freelancers and full - timers at your
                        fingertips anytime anywhere</p>
                </div>
                <div class="grid-item">
                    <img src="/images/Vector-3.svg" style="height: 30px; width: 30px;" alt="icon" />
                    <p>We are a community of young professionals, skilled freelancers and full - timers at your
                        fingertips anytime anywhere</p>
                </div>
                <div class="grid-item">
                    <img src="/images/Vector-3.svg" style="height: 30px; width: 30px;" alt="icon" />
                    <p>We are a community of young professionals, skilled freelancers and full - timers at your
                        fingertips anytime anywhere</p>
                </div>
                <div class="grid-item">
                    <img src="/images/Vector-3.svg" style="height: 30px; width: 30px;" alt="icon" />
                    <p>We are a community of young professionals, skilled freelancers and full - timers at your
                        fingertips anytime anywhere</p>
                </div>
            </div>
        </div>
    </div>
</section>